lang en_US.UTF-8
keyboard --vckeymap=us
network --onboot yes --bootproto dhcp
# long random string; use ssh keys instead
rootpw --iscrypted $6$XFZhbefQJ6/8VDAb$GDX8Z7eBCPaCIPwY8fJf9S0GLhczjX4NAf36zBkLrnE/Drr2punZ0C6ZFiGU8v2G3V0EBNWwHOsb8BIyp4e700
firstboot --disable
selinux --enforcing
timezone --utc UTC
bootloader
shutdown

zerombr
clearpart --all --initlabel
autopart --type=plain --nohome

# this already includes @core
%packages
# rngd eats all CPU cores for a while after boot, and we have virtio-rng
-rng-tools
# necessary for ATEX
rsync
%end

# on RHEL, create additional repositories from the installation URL
%pre
echo -n > /tmp/additional-repos-anaconda
( . /etc/os-release && [[ $ID == rhel ]] ) || exit 0
function cmdline { sed -rn "s/.*(^| )${1}=([^ ]*)($| ).*/\2/p" /proc/cmdline | grep ''; }
function rewrite_url_into_other {
    local variant=$1 repotype=$2
    local repo=$(cmdline inst.repo) || return 1
    [[ $repo =~ /compose/([^/]+)/([^/]+)/os/$ ]] || return 1
    local baseos=${BASH_REMATCH[1]} arch=${BASH_REMATCH[2]}
    [[ $baseos == BaseOS ]] || return 1
    local url_frag="${repo%/$baseos/$arch/os/}"
    case "$repotype" in
        os)      echo "$url_frag/$variant/$arch/os/" ;;
        debug)   echo "$url_frag/$variant/$arch/debug/tree/" ;;
        source)  echo "$url_frag/$variant/source/tree/" ;;
    esac
}
function make_anaconda_repos {
    local variant baseurl
    for variant in "$@"; do
        baseurl=$(rewrite_url_into_other "$variant" os) || return 1
        echo "repo --name=rhel-$variant --baseurl=$baseurl"
    done
    return 0
}
VARIANTS="BaseOS AppStream CRB"  # we don't need more
for variant in $VARIANTS; do
    make_anaconda_repos "$variant"
done > /tmp/additional-repos-anaconda
{
    # export for %post
    declare -f cmdline rewrite_url_into_other
    declare -p VARIANTS
} > /tmp/additional-repos-globals
%end

%include /tmp/additional-repos-anaconda

%post --nochroot
( . /etc/os-release && [[ $ID == rhel ]] ) || exit 0
. /tmp/additional-repos-globals
function gen_yum_repos_d_entry {
    local name=$1 baseurl=$2 enabled=$3 gpgkey gpgkeys=()
    echo "[$name]"
    echo "name=$name"
    echo "baseurl=$baseurl"
    echo "enabled=$enabled"
    echo "gpgcheck=1"
    for gpgkey in /mnt/sysimage/etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-*; do
        gpgkeys+=("file://${gpgkey#/mnt/sysimage}")
    done
    echo "gpgkey=${gpgkeys[*]}"
}
function make_installed_repos {
    local variant baseurl
    for variant in "$@"; do
        baseurl=$(rewrite_url_into_other "$variant" os) || return 1
        gen_yum_repos_d_entry "rhel-$variant" "$baseurl" 1
        baseurl=$(rewrite_url_into_other "$variant" source) || return 1
        gen_yum_repos_d_entry "rhel-$variant-source" "$baseurl" 0
        baseurl=$(rewrite_url_into_other "$variant" debug) || return 1
        gen_yum_repos_d_entry "rhel-$variant-debuginfo" "$baseurl" 0
    done
    return 0
}
for variant in $VARIANTS; do
    make_installed_repos "$variant"
done > /mnt/sysimage/etc/yum.repos.d/rhel.repo
%end
