name: Sanity self-tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  provisioner-testing-farm:
    runs-on: ubuntu-latest
    environment:
      name: testing-farm
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y python3-pytest python3-pytest-xdist
      - run: python3 -m pip install .
      - name: Run tests
        run: |
          python3 -m pytest -s -n 50 tests/provisioner/test_testingfarm.py
        env:
          TESTING_FARM_COMPOSE: CentOS-Stream-10
          TESTING_FARM_API_TOKEN: ${{ secrets.TESTING_FARM_API_TOKEN }}
  provisioner-podman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y python3-pytest podman
      - run: python3 -m pip install .
      - name: Run tests
        run: |
          python3 -m pytest -s tests/provisioner/test_podman.py
  executor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y python3-pytest
      - run: python3 -m pip install .
      - name: Run tests
        run: |
          python3 -m pytest -s tests/executor
  fmf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y python3-pytest
      - run: python3 -m pip install .
      - name: Run tests
        run: |
          python3 -m pytest -s tests/fmf
